@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */
h1{
  padding-top: 40px;
  font-size: 30px !important;
}
#sidebar {
  z-index: 999;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474F;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav a{
  background: none;
  border-bottom: 1px solid #455A64;
  color: #CFD8DC;
  font-size: 14px;
  padding: 16px 24px;
}

#sidebar .nav a:hover{
  background: none;
  color: #ECEFF1;
}

#sidebar .nav a i{
  margin-right: 16px;
}


.table{
  margin: 0 20px 0 20px;
  background: #D6D6D6 !important;
}

main{
  width: 100%;
  height: 700px;
  padding: 0px 20% 0% 20%;
  position: relative;
}
.fotoPerfil{
  border-radius: 40px;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border: 2px solid black;
}

.linha{
  display: flex;
  align-items: center;
}
.coluna{
  text-align: center;
}
.tipo2{
  width: 25%;
}
select{
  width: 80%;
  margin-right: 10% !important;
  margin-left: 10% !important;
  margin-top: 11% !important;
  text-align: center;
}




/*search*/

.custom-search{
  color: black;
  z-index: 0 !important;
}



